<%= form_for(@advertising) do |f| %>
  <% if @advertising.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advertising.errors.count, "error") %> prohibited this advertising from being saved:</h2>

      <ul>
      <% @advertising.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :img %><br>
    <%= f.file_field :img %>
  </div>
  <div class="field">
    <%= f.label :header %><br>
    <%= f.text_field :header %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= select_tag :group_id, options_for_select(@groups) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
