<% if @advertisings.length > 0 %>
<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <% for i in 1..@advertisings.length-1 %>
        <li data-target="#myCarousel" data-slide-to="<%= i %>"></li>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% @advertisings.each do |a| %>
        <% if @advertisings.first == a %>
          <div class="item active">
        <% else %>
          <div class="item">
        <% end %>
          <img src="<%= a.img %>" alt="<%= a.header %>" width="460" height="345">
          <div class="carousel-caption">
            <h3><%= a.header %></h3>
            <p><%= a.content %></p>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<% end %>
